html, body, div, h1, h2, h3, p, {

	font-size: 100%;
	width: 200px;
	font: inherit;
}

body {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 10%;
	margin-left: 10%;
	padding: 15px;
	line-height: 1.3;
}

body {
text-size-adjust: none;
}

html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

body {
		font-size: 20pt;
		font-family: sans-serif;
		background-color: #3f3844;
		font-family: 'Ubuntu Condensed', sans-serif;
		color: #535c4e;
	}

h1, h2, h3, h4 {
		color: #FFFF;
		font-weight: normal;
	}

h1 {
		font-size: 2em;
		text-align: center;
	}

h2 {
		font-size: 1.6em;
		letter-spacing: -1px;
		margin-bottom: 1em;
		align: right;
	}

p {
		margin-bottom: 1.25em;
		line-height: 1.8em;
		text-align: justify;
	}

article {
	  float: center;
	  padding: 30px;
	  width: 100%;
	  background-color: #605568;
		margin-bottom:50px;
	}

div.image_display {
	        display: flex;
					align-content: left;
	        flex-flow: row;
					width: 105%;
					height: auto;
	    }

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:800px;
    height:auto;
    display:block;
    z-index:999;
}

div.image_display_wide {
		        display: flex;
						align-content: center;
		        flex-flow: row;
						height: auto;
				    }
					.clear{
							clear:both;
						}

					.wide_table{
						width:100%
					}

img {
	  float: left;
	  width: 30%;
		height: auto;
	  background: #eef1ea;
	  padding: 10px;
		margin:10px;
	}
.right{
width: 50%;
float: right;
padding: 5px;
margin: 25px;
margin-top: 7.5%;
}
.left{
width: 50%;
float: left;
padding: 5px;
margin: 25px;
margin-top: 4%;
}
table {
		  float: left;
			width:40%;
		  background: #eef1ea;
		  padding: 10px;
			margin:10px;
			border:10px solid #ddd;
			caption-side:bottom;
		}

table, th, td {
	border-bottom:1px solid black;
	border-collapse:collapse;
	table-layout: fixed;
	text-align:center;
	table-layout:fixed;
	font-size:70%;
	color:black;
	overflow-x:hidden;
	}

	th{
	background-color:#0C7A14;
	padding:15px
	}

tr:hover {
	background-color: #878e83;
	}

	tr:nth-child(odd){
			background-color:#ddd;
	}

	td{
		padding:10px;
	}

/*Navigation Bar*/

	.navBar {
	  overflow: hidden;
	  background-color: #696969;
	}

	.navBar a {
	  float: left;
	  display: block;
	  color: #FFFFFF;
	  text-align: center;
	  padding: 20px;
	  text-decoration: none;
	  font-size: 18px;
	}

	.navBar a:hover {
	  background-color: #1CA8C7;
	  color: black;
	}

	.navBar a.active {
	  background-color: #0C7A14;
	  color: white;
	}

	.navBar .icon {
	  display: none;
	}

	@media screen and (max-width: 600px) {
	  .navBar a:not(:first-child) {display: none;}
	  .navBar a.icon {
	    float: right;
	    display: block;
	  }
	}

	@media screen and (max-width: 600px) {
	  .navBar.responsive {position: relative;}
	  .navBar.responsive .icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	  }
	  .navBar.responsive a {
	    float: none;
	    display: block;
	    text-align: left;
	  }
